<div class="p-shadow-4">
  <p-card>
    <p-toast></p-toast>
    <p-confirmDialog
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-text"
    ></p-confirmDialog>
    <h3 style="margin-bottom: 1rem !important">
      Categorias
      <span class="float-right"
        ><button
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded p-button-success"
          (click)="showForm('Nueva categoría')"
        ></button>
      </span>
    </h3>
    <p-table [value]="categorias">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat>
        <tr>
          <td>{{ cat.nombre }}</td>
          <td>{{ cat.desc }}</td>
          <td>
            <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            (click)="borrarCat(cat)"
            class="p-button-rounded p-button-danger p-button-text float-right"
            ></button>
            <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editarCat(cat)"
            class="p-button-rounded p-button-primary p-button-text float-right"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog [header]="titulo" [(visible)]="display" *ngIf="categoria" (onHide)="closeForm()">
      <form>
        <categorias-form [categoria]="categoria" (close)="closeForm()"></categorias-form>
      </form>
    </p-dialog>
  </p-card>
</div>
